aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
certifi==2020.6.20
colorama==0.4.3
distlib==0.3.1
Django==3.1.4
django-crispy-forms==1.9.2
django-filter==2.0.0
django-graphql-jwt==0.3.1
filelock==3.0.12
graphene==2.1.8
graphene-django==2.2.0
graphql-core==2.3.2
graphql-relay==2.0.1
isort==5.5.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql-client==0.0.1
pipenv==2020.11.4
promise==2.3
PyJWT==1.7.1
pylint==2.6.0
pytz==2020.4
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
wrapt==1.12.1
